/* Your code here */
ul {
    display: flex;
    width: 185px;
    flex-wrap: wrap;
}

ul li{
    text-decoration: none;
    list-style-type: none;
    height: 55px;
    width: 55px;
    border: 1px solid red;
    background-color: gray;
    font-size: 40px;
    text-align: center;
    
}

.unclicked:hover{
    background-color: yellow;
}


.clicked:hover {
    background-color: white;
}

.clicked{
    background-color: white;
}

.green{
    background-color: green;
}

